    .body-p {
      margin-top: 20px;
    }    
    .body-color {
      background-color: #e7e7e7;
    }
    .navbar {
      min-height: 60px;
      max-height: 60px;
    }
	
	.img-invert {
	-webkit-filter: invert(1);
	filter: invert(1);
	}


    @media (min-width: 576px) {
      .card-columns {
        column-count: 1;
      }
    }

    @media (min-width: 768px) {
      .card-columns {
        column-count: 1;
      }
    }

    @media (min-width: 992px) {
      .card-columns {
        column-count: 2;
     }
    }

    @media (min-width: 1200px) {
      .card-columns {
        column-count: 3;
      }
    }